<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Paulino Santos Portfolio</title>

  <!-- CSS  -->
  <link href="./icon.css" rel="stylesheet">
  <link href="./materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="./style.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>

  <nav class="white " role="navigation">
    <div class="nav-wrapper container ">

      <ul class="right hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2 top" id="home">Paulino <span class="span1">Santos</span></h1>
        <div class="row center">
          <h5 class="header col s12 light top"><span class="span2">Full Stack Developer</span></h5>
        </div>
        <div class="row center">

          <!-- Resume Modal -->
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Resume</a>

          <a href="./techResume.pdf" class="waves-effect waves-light btn modal-trigger" download="techResume.pdf">Download</a>


          <!-- Modal -->
          <!-- Modal Structure -->
          <div id="modal1" class="modal" style="height: 100%;" tabindex="0">
            <div class="modal1-content" style="height: 100%;">
              <object type="application/pdf" data="./techResume.pdf" style="width: 100%; height: 100%;">
              </object>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./back.jpeg" alt="" style="transform: translate3d(-50%, 325.659px, 0px); opacity: 1;"></div>
  </div>


  <div class="container">
    <div class="section">
      <div class="center">
        <h3 class="sectionHeader">About</h3>
      </div>
      <div class="row hrDiv">
        <div class="col s12 m12">
          <p class="aboutText">Highly motivated Full stack web developer with over 1000 hours of coding experience​. ​Experience in multiple stacks including Python, MEAN, Java and their respective frameworks.Looking to join a passionate team to develop innovative solutions for real world problem while continuing to learn new technologies.</p>
        </div>
      </div>
      <!-- End paragraph row -->
      <div class="center">
        <h2 class="sectionHeader" id="skills">Skills</h2>
      </div>
      
      <!--  Skills incon section   -->
      <!-- Skills Row 1 -->
      <div class="row skillsDiv">
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Python" src="./python.png" alt="Python Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Django" src="./django.png" alt="Django Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Flask" src="./flask.png" alt="Flask Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="HTML5 JavaScript CSS" src="./html5.png" alt="Html5 Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Bootstrap" src="./bootstrap.png" alt="Bootstrap Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="VS Code" src="./vscode.png" alt="VS Code Icon">
        </div>
      </div>
      
      <!-- Skills row 2 -->
      <div class="row skillsDiv">
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="MongoDB" src="./mongodb.png" alt="Mongodb">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="ExpressJS" src="./expressjs.png" alt="ExpressJS Image">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="AngularJS" src="./angularjs.png" alt="AngularJS Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="NODEjs" src="./nodejs.png" alt="NODEjs Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="AWS" src="./aws.png" alt="AWS Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="GitBash" src="./gitbash.png" alt="GitBash Icon">
        </div>
      </div>
      
      <!-- Skills row 3 -->
      <div class="row skillsDiv">
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Java" src="./java.png" alt="Java Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="MySQL" src="./mysql.png" alt="MySQL Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Spring" src="./spring.png" alt="Spring Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="jQuery" src="./jquery.png" alt="jQuery Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Ajax" src="./ajax.png" alt="Ajax Icon">
        </div>
        <div class="col s2 m2">
          <img class="skillsImage tooltipped" data-position="top" data-tooltip="Windows" src="./windows.png" alt="Windows Icon">
        </div>
      </div>
    </div>
    <!-- End of Section -->
  </div>
  <!-- End of Container -->

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><class="mdi-content-send brown-text"=""></class="mdi-content-send"></h3>
          <div class="center">
            <h2 class="sectionHeader" id="projects">Projects</h2>


            <!-- Project carousel -->
            <div class="row hrDiv">
              <div class="col s6 m6 ">
                <div class="carousel">
                  <div class="center">
                    <h5>Quotes</h5>
                  </div>
                  <a class="carousel-item active" href="#one!" style="z-index: 0; opacity: 1; visibility: visible; transform: translateX(125px) translateY(100px) translateX(0px) translateX(0px) translateZ(0px);"><div class="material-placeholder"><img class="materialboxed projectImage" src="./loginreg.jpeg"></div></a>
                  <a class="carousel-item" href="#two!" style="transform: translateX(125px) translateY(100px) translateX(200px) translateZ(-200px); z-index: -1; opacity: 0.5; visibility: visible;"><div class="material-placeholder"><img class="materialboxed projectImage" src="./welcome.png"></div></a>
                  <a class="carousel-item" href="#three!" style="transform: translateX(125px) translateY(100px) translateX(-400px) translateZ(-400px); z-index: -2; opacity: 0; visibility: visible;"><div class="material-placeholder"><img class="materialboxed projectImage" src="./post.png"></div></a>
                  <a class="carousel-item" href="#four!" style="transform: translateX(125px) translateY(100px) translateX(-200px) translateZ(-200px); z-index: -1; opacity: 0.5; visibility: visible;"><div class="material-placeholder"><img class="materialboxed projectImage" src="./nina.png"></div></a>
                </div>
                <p>Quotes (Python + Django): Web app that allows signed in users add edit , and or, remove their own quotes and comment other quotes by other users. Deployed using amazon AWS</p>
                <a class="aLink" href="https://github.com/psantosiii/django1" target="_blank">Click Here to view on GitHub</a><br>
                <a class="aLink" href="18.218.214.168" target="_blank">Click Here to see it in Action!</a>
              </div>
              <div class="col s6 m6 ">
                <div class="carousel">
                  <div class="center">
                    <h5>​E-commerce Store(in progress)</h5>
                  </div>
                  <a class="carousel-item active" 
                  href="#one!" 
                  style="z-index: 0; opacity: 1; visibility: visible; transform: translateX(125px) translateY(100px) translateX(0px) translateX(0px) translateZ(0px);">
                    <div class="material-placeholder">
                      <img class="materialboxed projectImage" src="./all.png">
                    </div>
                  </a>
                  <a class="carousel-item" href="#two!" style="transform: translateX(125px) translateY(100px) translateX(200px) translateZ(-200px); z-index: -1; opacity: 0.5; visibility: visible;">
                    <div class="material-placeholder">
                      <img class="materialboxed projectImage" src="./users.png">
                    </div>
                  </a>
                  <a class="carousel-item" href="#three!" style="transform: translateX(125px) translateY(100px) translateX(-400px) translateZ(-400px); z-index: -2; opacity: 0; visibility: visible;">
                    <div class="material-placeholder">
                      <img class="materialboxed projectImage" src="./login.png">
                    </div>
                  </a>
                  <a class="carousel-item" href="#three!" style="transform: translateX(125px) translateY(100px) translateX(-400px) translateZ(-400px); z-index: -2; opacity: 0; visibility: visible;">
                    <div class="material-placeholder">
                      <img class="materialboxed projectImage" src="./product.png">
                    </div>
                  </a>
                </div>

                <p>(Python + Django + MySQL):​ ​Web application that implements full login and registration validations, full CRUD methods, session, and admin-user roles. Features allow user(s) to shop vast inventory of items, view their shopping cart, order history, and product recommendations.</p>
                <a class="aLink" href="https://github.com/psantosiii/Ecommerce_Django" target="_blank">Click Here to view on Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer bottom" id="contact">
    <div class="container">
      <div class="row center">
        <div class="col s3 m3">
          <a href="https://github.com/psantosiii" target="_blank"><img class="footerImage tooltipped" data-position="top" data-tooltip="Click here to see my GitHub!" src="./git2.png" alt="Github Icon"></a>
        </div>
        <div class="col s3 m3">
          <a href="https://www.linkedin.com/in/paulino-santos-a2873b110/" target="_blank"><img class="footerImage tooltipped" data-position="top" data-tooltip="Click here to see my LinkedIn!" src="./linkedIn.png" alt="LinkedIn Icon"></a>
        </div>
        <div class="col s3 m3">
          <a href="mailto:psantosiii@yahoo.com?Subject=Let%27s%20Connect" target="_blank"><img class="footerImage tooltipped" data-position="top" data-tooltip="Lets Connect! psantosiii@yahoo.com.com" src="./email.png" alt="Email Icon"></a>
        </div>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="./jquery-2.1.1.min.js"></script>
  <script src="./materialize.js"></script>
  <script src="./init.js"></script>




<div class="sidenav-overlay"></div><div class="drag-target"></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip" style="top: 968.656px; left: 541.344px; visibility: visible; opacity: 0; transform: translateX(0px) translateY(0px);"></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div><div class="material-tooltip"><div class="tooltip-content"></div></div></body></html>